
.derrick::-webkit-scrollbar {
  width: 0;
}

.derrick::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 5px;
  width: 5px; 
}

.derrick::-webkit-scrollbar-thumb:hover {
  background: #48c1d8;
}

.derrick:hover::-webkit-scrollbar {
  width: 10px; 
}

  
  